<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati amet officia, id aut, minus autem rem inventore vel corporis similique dignissimos, sed fugiat excepturi praesentium mollitia quibusdam molestias distinctio nesciunt!
    Quam eos nemo dolor harum, sint ad neque, vero amet natus ea illo, qui inventore blanditiis. Officia porro aspernatur culpa, recusandae, nesciunt labore sunt sed est, consequatur veritatis dolore natus?
  </p>
</section>
