<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero tempore illo ea incidunt vitae, possimus nam officiis blanditiis eum quo consequuntur quam neque dolor sed molestiae a maxime error praesentium?
    Quis qui ipsa blanditiis odio exercitationem accusantium possimus cupiditate, minima doloremque sit, soluta velit, repellendus itaque cum tenetur voluptates ratione! Beatae, asperiores odio! Ipsum ducimus error dolor blanditiis, ipsa quibusdam?
    Dolore repudiandae repellendus quas placeat, veniam velit molestias doloremque suscipit optio incidunt earum iure soluta cupiditate accusantium nulla veritatis odio saepe provident consequatur dicta enim pariatur culpa iste recusandae. Temporibus!
    Ipsam culpa placeat nesciunt. Ab tenetur atque ratione, voluptatum delectus doloribus provident repellat natus voluptatibus, est eius ducimus! Dolorem iste nulla cumque. Ratione cupiditate animi doloremque ut vero nihil accusantium!
    Deserunt tenetur nostrum praesentium molestiae mollitia sequi iure non modi corrupti commodi repellat similique sunt ipsum molestias a qui voluptate, cumque accusantium! Architecto enim amet quos, tenetur voluptatum eius delectus.
  </p>
</section>
